:root{
  --white: #fefefe;
  --black: #111111;
  --blue: #2072df;
  --red: #ff5050;
  --yellow: #70ff71;
}

.calendar-format{
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-weeks{
  font-size: 20px;
}

.selected{
  background-color: #111111;
}

.calendar-format_item{
  padding: 3px 5px;
  width: 90px;
  height: 90px;
  text-align: end;
  text-decoration: none;
  color: var(--black);
  border: solid var(--black) 1px;
}

.form{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.form-control{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.list-notes{
  background-color: #c2c2c2;
}

.list{
  display: flex;
  padding: 10px;
  list-style: none;
  flex-direction: column;
}
.list-item{
  text-align: center;
  background-color: var(--white);
}

.especial{
  list-style: none;
  color: #70ff71;
}

.calendar-format_item:hover{
  border: solid var(--blue) 2px;
} 
.calendar-format_item:foc{
  border: solid var(--yellow) 2px; 
}

/*Ubicaciones*/
#su{
  grid-column-start: 1;
  border: solid var(--red) 2px;
  color: var(--red);
}
#mo{
  grid-column-start: 2;
}
#tu{
  grid-column-start: 3;
}
#we{
  grid-column-start: 4;
}
#th{
  grid-column-start: 5;
}
#fr{
  grid-column-start: 6;
}
#sa{
  grid-column-start: 7;
}

@media (max-width: 400px){
  .header-weeks{
    font-size: 14px;
  }
  .calendar-format{
    grid-template-columns: repeat(7, 50px);
    font-size: 12px;
  }
  .calendar-format_item{
    width: 50px;
    height: 50px;
  }
}