:root {
  --bg-general: #373935;
  --color-text: #adc1cc;
  --white: #fefefe;
  --black: #111111;
  --blue: #2072df;
  --red: #ff5050;
  --outline: #9590c5;
  --line: #888888;
  --bg-calendar: #68686f;
  --bg-red: #ff505040;
  --bg-grey-t: #acc7d690;
}

body {
  background-color: var(--bg-general);
  color: var(--color-text);
}

.container-title {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
}
.calendar-format {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  border-radius: 0px;
  background: linear-gradient(to right, var(--bg-calendar), #707080);
}

.header-weeks {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-size: 5000;
}

.selected {
  background-color: #111111;
}

.calendar-format_item {
  padding: 3px 5px;
  height: 90px;
  text-align: end;
  text-decoration: none;
  color: var(--color-text);
  border-left: solid;
  border-top: solid;
  border-color: var(--line);
  border-width: 0.01px;
}
.calendar-format_item:hover {
  background-color: #847984;
  outline: solid var(--outline);
}
.today {
  outline: solid var(--outline);
  background-color: #948994;
}

.form {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-calendar);
  color: var(--white);
}
.form-control > input:focus {
  color: var(--bg-general);
  background-color: var(--color-text);
}
.form-control > textarea:focus {
  color: var(--bg-general);
  background-color: var(--color-text);
}

.list-notes {
  background-color: #c2c2c2;
}

.list {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.card {
  background-color: var(--bg-general);
  color: var(--bg-grey-t);
  text-align: center;
  border-color: var(--line);
}
.card:hover {
  color: var(--white);
}

.especial {
  list-style: none;
  color: #70ff71;
}

/*Ubicaciones*/
#su {
  grid-column-start: 1;
}
#mo {
  grid-column-start: 2;
}
#tu {
  grid-column-start: 3;
}
#we {
  grid-column-start: 4;
}
#th {
  grid-column-start: 5;
}
#fr {
  grid-column-start: 6;
}
#sa {
  grid-column-start: 7;
}

@media (max-width: 620px) {
  .header-weeks {
    font-size: 14px;
  }
  .calendar-format {
    grid-template-columns: repeat(7, 1fr);
    font-size: 12px;
  }
  .calendar-format_item {
    height: 50px;
  }
}

@media (max-width: 370px) {
  .header-weeks {
    font-size: 8px;
  }
  .calendar-format {
    grid-template-columns: repeat(7, 1fr);
    font-size: 8px;
  }
  .calendar-format_item {
    height: 30px;
  }
}
